.articles {
  padding: 1rem min(3rem, 5vw);
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1050px) {
  .articles {
    padding: 1rem min(8rem, 10vw);
  }
}
