.product {
  width: 100%;
  border: 1px solid var(--primary);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid var(--primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  margin-bottom: 0.5rem;
}

.box:first-child {
  align-items: center;
}

.box:nth-child(2) {
  flex-grow: 2;
}

.box:last-child {
  flex-shrink: 0;
  align-items: center;
}

.box img {
  max-width: 100px;
  max-height: 100px;
}

.btn {
  background-color: darkred;
  color: #fff;
  padding: 0.75rem;
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 0.3s linear, color 0.3s linear;
  width: 10rem;
  text-align: center;
}

.btn:hover {
  color: darkred;
  background-color: #fff;
}

@media screen and (min-width: 700px) {
  .product {
    flex-direction: row;
  }
}
